body{
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: rgba(122, 122, 122, 0.95);
  margin-top: 20px;
  padding: 10px;
}

.container{
  margin: 0;
}

.dragmovable{
  -webkit-app-region: drag;
}

.nodragmovable{
  -webkit-app-region: no-drag;
}

#displayArea{
  width: 40%;
  float: left;
  height: 100%;
}

#display{
  margin: auto;
}

#inspection{
  /* height: 100%; */
}

#inspection hr{
  width: 60%;
  margin-left: 200px;
}